@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "fonts";
@import "iconfonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

.btn-to-product {
	position: fixed;
	bottom: 100px;
	right: 90px;
	border-radius: 30px;
	transition: 0.3s ease all 0s;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;

	@media screen and (max-width: 767px) {
		bottom: 50px;
		right: 20px;
	}

	&._active {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
}