.btn {
    background-color: #fff;
    padding: 3px 20px 3px 32px;
    border-radius: 3px;
    border: 1px solid $Gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: calc(12px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
    line-height: calc(19 / 16);
    white-space: nowrap;
    transition: 0.3s ease all 0s;

    @media screen and (min-width: 992px) {
        &:hover {
            background-color: $LGray5;
        }
    }
    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: $lineHeight;
    }

    i.icon-cart {
        font-size: 39px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &-bg {
        background-color: $Blue;
        color: $White;
        border-radius: 12px;
        padding: 18px 32px;
        font-weight: 600;
        border-color: $Blue;

        @media screen and (min-width: 992px) {
            &:hover {
                background-color: rgba($color: $Blue, $alpha: 0.75);
                border-color: rgba($color: $Blue, $alpha: 0.75);
            }
        }
    }
}

.btn-to-product {
	position: fixed;
	bottom: 65px;
	right: 50px;
	border-radius: 30px;
	transition: 0.3s ease all 0s;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;

	@media screen and (max-width: 767px) {
		bottom: 30px;
		right: 20px;
	}

	&._active {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
}

.up-btn {
	position: fixed;
	bottom: 65px;
	left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background: rgba($color: $Black, $alpha: 0.8);
	transition: 0.3s ease all 0s;
	opacity: 0;
    visibility: hidden;

    @media screen and (max-width: 767px) {
        transform: scale(0.8);
        bottom: 30px;
		right: -20px;
    }

	&.show {
		opacity: 1;
		visibility: visible;
	}
}