.form {
	&__body {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(51, 51, 51, 0.9);
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease 0s;
		}

		&._sending {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__row {
		display: flex;
		margin: 0 -22.5px;

		@media screen and (max-width: 991px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__item {
		margin: 0 0 2.3em 0;
		position: relative;
		padding: 0 22.5px;
		flex: 1 1 auto;

		@media screen and (max-width: 991px) {
			padding: 0 10px;
			margin-bottom: 1.5em;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 2em;
		}

		&.row {
			@media screen and (max-width: 991px) {
				flex-direction: column;
			}
		}
	}

	&__label {
		display: block;
		line-height: 1;
		position: absolute;
		top: 6px;
		left: 27.5px;
		margin-bottom: -6px;
		transition: 0.3s ease all 0s;
		font-size: 12px;
		color: $Gray2;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		}
		@media screen and (max-width: 991px) {
			left: 15px;
		}

		&--select {
			top: -13px;
		}
	}

	&__input {
		height: 36px;
		padding: 0px 5px;
		border-radius: 5px;
		width: 100%;
		font-size: calc(12px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: 1;
		transition: all 0.5s ease 0s;
		border-bottom: 1px solid $Gray;
		border-radius: 0;
		transition: 0.3s ease all 0s;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		}
		@media screen and (min-width: 992px) {
			&:hover {
				border-color: rgba($color:$Blue, $alpha: 0.5);
			}
			&:focus {
				border-color: $Blue;
			}
		}
	}

	&__item--md-6 {
		flex: 0 0 50%;
	}

	&__item--md-10 {
		flex: 0 0 75%;
	}

	&__item--md-2 {
		flex: 0 0 25%;
	}

	&__item--mb-1 {
		margin-bottom: 1em;
	}

	&__delivery {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: $lineHeight;
		margin-right: 20px;
		flex: 1 1 auto;

		@media screen and (min-width: $layoutDesktop + "px") {
			font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		}
		@media screen and (max-width: 991px) {
			margin-bottom: 15px;
		}

		img {
			margin-right: 15px;
		}
	}

	&__button {
		border-radius: 30px;
	}

	&__privacy {
		font-size: calc(10px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: $lineHeight;
		color: $Gray3;

		a {
			color: $Gray;
			text-decoration: underline;
		}
	}
}

.options {
	padding: 10px 0px 0px 0px;

	&__item {
		margin: 0px 0px 10px 0px;
		flex: 1 1 auto;
	}

	&__input {
		display: none;

		&:checked + .options__label::after {
			transform: scale(1) translate(0, -50%);
		}
		&:checked + .options__label::before {
			background-color: $Gray3;
		}
	}

	&__label {
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		width: 100%;
		font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));

		&::before {
			content: "";
			align-self: center;
			flex: 0 0 18px;
			height: 18px;
			background-color: $LGray2;
			border-radius: 50%;
			margin: 0px 14px 0px 0px;
			border: 1px solid $Gray3;
			transition: 0.3s ease all 0s;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 6px;
			width: 6px;
			height: 6px;
			background-color: $White;
			border-radius: 50%;
			transform: scale(0) translate(0, -50%);
			transition: 0.3s ease all 0s;
		}
	}
}

.checkbox {
	&._error {
		.checkbox__label::before {
			box-shadow: 0 0 15px red;
		}
	}

	&__input {
		display: none;
	}

	&__label {
		font-size: 16px;
		line-height: 140%;
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;

		&::before {
			content: "";
			align-self: flex-start;
			flex: 0 0 24px;
			height: 24px;
			background-color: #fff;
			border-radius: 4px;
			margin: 0px 10px 0px 0px;
		}

		&::after {
			content: "";
			width: 16px;
			height: 16px;
			position: absolute;
			top: 4px;
			left: 4px;
			background-color: #7a956b;
			border-radius: 4px;
			transform: scale(0);
			transition: transform 0.5s ease 0s;
		}

		a {
			color: #7a956b;
		}
	}

	&__input:checked + .checkbox__label::after {
		transform: scale(1);
	}
}

textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}

.quantity {
	width: 48px;
	height: 17px;
	display: flex;
	align-items: center;

	&__button {
		flex: 0 0 9px;
		padding: 10px 8px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -3px;
			background-color: $Black;
			width: 7px;
			height: 1px;
		}

		@media screen and (min-width: 992px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba($Black, 0.5);
				}
			}
		}

		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}
	&__input {
		flex: 1 1 auto;
		display: flex;

		input {
			height: 100%;
			color: $Black;
			font-size: 14px;
			width: 100%;
			text-align: center;

			@media screen and (min-width: $layoutDesktop + "px") {
				font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			}
		}
	}
}
