body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
    line-height: $lineHeight;
    color: $fontColor;
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
        padding: $size-header-height 0px 0px 0px;

        @media screen and (max-width: 767px) {
            padding: $size-header-height-mobile 0px 0px 0px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.d-none {
    display: none;
}

p {
    margin: 1.4em 0;

    @media screen and (max-width: 991px) {
        margin: 1em 0;
    }
}

ul {
    li {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1.6em;

        @media screen and (max-width: 991px) {
            margin-bottom: 0.8em;
        }

        &::before {
            content: '';
            display: block;
            width: 20px;
            flex: 0 0 20px;
            height: 1px;
            background-color: $Black;
            margin-right: 10px;

            @media screen and (max-width: 575px) {
                width: 15px;
                flex: 0 0 15px;
            }
        }
    }
}