body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
    line-height: $lineHeight;
    color: $fontColor;
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
        padding: $size-header-height 0px 0px 0px;

        @media screen and (max-width: 767px) {
            padding: $size-header-height-mobile 0px 0px 0px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    max-width: #{$size-container + px};
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
    @media screen and (min-width: $layoutDesktop + 'px') {
        max-width: #{$size-container + px};
    }

    &-fluid {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    
        @media screen and (min-width: 992px) {
            padding: 0 30px;
        }
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.d-none {
    display: none !important;
}

p {
    margin: 1.4em 0;

    @media screen and (max-width: 991px) {
        margin: 1em 0;
    }
}

ul {
    li {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1.6em;

        @media screen and (max-width: 991px) {
            margin-bottom: 0.8em;
        }

        &::before {
            content: "";
            display: block;
            width: 20px;
            flex: 0 0 20px;
            height: 1px;
            background-color: $Black;
            margin-right: 10px;

            @media screen and (max-width: 575px) {
                width: 15px;
                flex: 0 0 15px;
            }
        }
    }
}

.thesis {
    @include adaptiv-value("padding-top", 60, 20, 0);
    @include adaptiv-value("padding-right", 85, 20, 0);
    @include adaptiv-value("padding-bottom", 60, 20, 0);
    @include adaptiv-value("padding-left", 85, 20, 0);
    @include adaptiv-value("margin-top", 64, 20, 0);
    @include adaptiv-value("margin-right", -85, -20, 0);
    @include adaptiv-value("margin-bottom", 56, 20, 0);
    @include adaptiv-value("margin-left", -85, -20, 0);
    background-color: $LGray5;
    
    &__content {
    }

    h2 {
        font-weight: 700;
    }
}

.block-table {
    overflow-x: auto;
    scrollbar-width: thin;
    cursor: grab;
    &::-webkit-scrollbar {
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: #F6F6F6;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #CCC3C3;
    }

    &.active {
        cursor: grabbing;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-weight: 600;
        font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));

        thead {
        }

        tr {
        }

        th {
            color: $Gray3;
            @include adaptiv-value("padding-top", 24, 10, 0);
            @include adaptiv-value("padding-right", 26, 5, 0);
            @include adaptiv-value("padding-bottom", 24, 10, 0);
            @include adaptiv-value("padding-left", 26, 5, 0);
            text-align: left;
            border-bottom: 1px solid $LGray3;
            min-width: 200px;
        }

        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }

        td {
            @include adaptiv-value("padding-top", 16, 8, 0);
            @include adaptiv-value("padding-right", 26, 5, 0);
            @include adaptiv-value("padding-bottom", 16, 8, 0);
            @include adaptiv-value("padding-left", 26, 5, 0);
            border-bottom: 1px solid $LGray3;
            min-width: 200px;
        }
    }
}
