// === Sizes ===
$size-container: 1074px;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 54px;
$size-header-height-mobile: 54px;

// === Font ===
$fontMain: "SF Pro Display";
$fontWeight: 400;
$fontSize: 20px;
$lineHeight: 140%;
$fontColor: #1f1f1f;
$fontSecondary: "Roboto";

// === Color ===
$Gray: #b3b3b3;
$Gray2: #b2b2b2;
$Gray3: #767676;
$LGray: #e6e6e6;
$LGray2: #f1f1f1;
$LGray3: #eaeaea;
$DGray: #333333;
$Black: #1f1f1f;
$White: #ffffff;
$Blue: #0071e3;
