/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../fonts/SFProDisplay-SemiBold.woff") format("woff"), url("../fonts/SFProDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?mbvawq");
  src: url("../fonts/icons.eot?mbvawq#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?mbvawq") format("truetype"), url("../fonts/icons.woff?mbvawq") format("woff"), url("../fonts/icons.svg?mbvawq#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e900";
  color: #b3b3b3;
}

.icon-vk:before {
  content: "\e901";
  color: #b3b3b3;
}

.icon-apple:before {
  content: "\e902";
  color: #a5a5a6;
}

.icon-cart:before {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: calc(14px + 6 * ((100vw - 320px) / (1366 - 320)));
  line-height: 140%;
  color: #1f1f1f;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site__main {
  padding: 54px 0px 0px 0px;
}

.site__footer {
  margin-top: auto;
}

.container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-star {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/icons/star.svg") center no-repeat;
}

.btn {
  background-color: #fff;
  padding: 3px 20px 3px 32px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(19 / 16);
  white-space: nowrap;
}

.btn i.icon-cart {
  font-size: 39px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
          box-shadow: 0 0 15px #7a956b;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #7a956b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #161b13;
          box-shadow: 0 5px 0 #161b13;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #4f6146;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
          box-shadow: 0 2px 0 #161b13;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #77608d;
  padding: 0px 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #7a956b;
  border-radius: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.checkbox__label a {
  color: #7a956b;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.tabs-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-triggers__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.tabs-triggers__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.tabs-triggers__item--active::after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item--active {
  display: block;
}

.main {
  min-height: 703px;
  padding: 95px 0 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.main--white {
  color: #ffffff;
}

.main--white .main-menu__link {
  color: #ffffff;
}

.main__title {
  font-weight: 300;
  font-size: calc(24px + 24 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(58 / 48);
  margin-bottom: 0.8em;
}

.main__title span {
  font-weight: 500;
}

.main__text {
  max-width: 366px;
  margin: 0 auto;
  font-weight: 300;
}

.main__image {
  max-width: 612px;
  margin: 0 auto;
}

.main--center .main__row {
  display: block;
}

.main--center .main__content {
  text-align: center;
}

.main--center .main__text {
  margin-bottom: 4.3em;
}

.main-menu {
  padding-bottom: 20px;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu__item {
  margin-right: 2.4em;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  padding: 8px 16px;
  font-weight: 300;
  font-size: calc(12px + 6 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(25 / 18);
  white-space: nowrap;
}

.main-menu__item--active {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
  min-height: 448px;
  overflow: hidden;
}

.features__title {
  font-weight: 300;
  color: #1f1f1f;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.features__image {
  position: absolute;
  width: 100%;
}

.features .features__card--iphone12-1 .features__title {
  max-width: 60%;
  margin: 2.4em auto;
}

.features .features__card--iphone12-1 .features__image {
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 64%;
}

.features .features__card--iphone12-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .features__card--iphone12-2 .features__title {
  font-size: calc(18px + 8 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(36 / 26);
  max-width: 70%;
  padding: 2.4em 0;
}

.features .features__card--iphone12-2 .features__image {
  position: inherit;
  left: auto;
  bottom: auto;
  margin: 0 auto 2.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .features__card--iphone12-3 .features__title {
  font-size: calc(18px + 8 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(36 / 26);
  color: #b7b7b7;
  max-width: 64%;
  margin: 2.6em auto 0;
}

.features .features__card--iphone12-3 .features__image {
  right: 0;
  bottom: 0;
  max-width: 85%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: "Roboto";
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 54px;
}

.header__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 2;
  margin-right: 52px;
}

.header__logo i.icon-apple {
  font-size: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__item {
  margin-right: 2.3em;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(18 / 14);
}

.header__item.menu__item--has-children:hover > .menu__link img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__item.menu__item--has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header__item.menu__item--has-children .sub-menu__item {
  margin-bottom: 8px;
}

.header__item.menu__item--has-children .sub-menu__item a {
  font-family: "SF Pro Display";
  font-size: calc( 12px + 2 * ((100vw - 320px) / (1366 - 320)));
  color: #1f1f1f;
}

.header__item--active .header__link {
  color: #b2b2b2;
}

.header__link {
  color: #333333;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link img {
  margin-left: 4px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__right .header__item {
  margin-right: 1.4em;
  font-weight: 400;
  font-size: calc(11px + 1 * ((100vw - 320px) / (1366 - 320)));
}

.header__phone {
  display: inline-block;
  font-weight: 700;
  font-size: calc(10px + 2 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(14 / 12);
  color: #333333;
  margin-right: 2.6em;
}

.cart i.icon-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 38px;
  color: #333333;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gallery__thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__thumbnails .gallery__image {
  position: relative;
  padding-bottom: 118.8%;
}

.gallery__thumbnails .gallery__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 25px;
  max-height: 200px;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__main .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__main .gallery__image {
  width: 100% !important;
  margin: 0 auto;
  position: relative;
  padding-bottom: 29.4%;
}

.gallery__main .gallery__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 60px 0;
  max-height: 600px;
}

.gallery .tabs-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery .tabs-content__item--active {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-about {
  padding: 55px 0 50px;
}

.product-about__container {
  padding: 0 67px 0 43px;
}

.product-about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.8em;
}

.product-about__row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-about__triggers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.8em;
}

.product-about__triggers .tabs-triggers__item {
  font-weight: 500;
  font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(19 / 16);
  color: #1f1f1f;
  display: inline-block;
  padding-left: 14px;
  margin-bottom: 1.8em;
  position: relative;
}

.product-about__triggers .tabs-triggers__item:last-child {
  margin-bottom: 0;
}

.product-about__triggers .tabs-triggers__item::before {
  content: "";
  display: block;
  width: 4px;
  height: 133%;
  background-color: #333333;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.product-about__triggers .tabs-triggers__item--active::before {
  -webkit-transform: translate(0, -50%) scale(1);
      -ms-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
}

.product-about__summary {
  text-align: right;
}

.product-about__summary .options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: 4px;
}

.product-about__summary .options__item {
  margin: 0px 4px 0px 0px;
}

.product-about__summary .options__input:checked + .options__label {
  background-color: #ffffff;
}

.product-about__summary .options__label {
  padding: 10px;
  font-weight: 500;
  font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(19 / 16);
}

.product-about__summary .options__label::before,
.product-about__summary .options__label::after {
  display: none;
}

.product-about__name {
  font-weight: 500;
  font-size: calc(24px + 24 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(58 / 48);
  margin-bottom: 0.4em;
}

.product-about__attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: calc(14px + 14 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(34 / 28);
  margin-bottom: 1.6em;
}

.product-about__storage {
  margin-right: 5px;
}

.product-about__bottom .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-about__bottom .options__item {
  margin-bottom: 1em;
}

.product-about__bottom .options__item:last-child {
  margin-bottom: 0;
}

.product-about__bottom .options__input:checked + .options__label::after {
  -webkit-transform: translate(0, -50%) scale(1);
      -ms-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
}

.product-about__bottom .options__label {
  padding-left: 14px;
  font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(19 / 16);
}

.product-about__bottom .options__label::before {
  display: none;
}

.product-about__bottom .options__label::after {
  width: 4px;
  height: 133%;
  background-color: #333333;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
  border-radius: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.product-about__cart {
  text-align: right;
}

.product-about__price {
  font-size: calc(20px + 20 * ((100vw - 320px) / (1366 - 320)));
  line-height: calc(48 / 40);
  margin-bottom: 0.7em;
}

.qweqwe {
  min-height: 100px;
  background-color: #1f1f1f;
}

@media screen and (min-width: 768px) {
  .header__item.menu__item--has-children .sub-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    display: block;
    width: 100%;
    min-width: 181px;
    background-color: #ffffff;
    padding: 16px 19px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
  }

  .gallery__thumbnails {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    border-right: 1px solid #eaeaea;
  }

  .gallery__main {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    border-right: 1px solid #eaeaea;
  }
}

@media screen and (min-width: 1200px) {
  .container-fluid {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 79%;
  }

  .main__text {
    max-width: 36%;
  }

  .main__image {
    max-width: 60%;
  }

  .features .features__card--iphone12-1 .features__image {
    max-width: 300px;
  }

  .features .features__card--iphone12-2 .features__image {
    margin-top: 5em;
  }

  .features .features__card--iphone12-3 .features__image {
    max-width: 400px;
  }

  .product-about__container {
    padding: 0 3.3em 0 2.1em;
  }

  .product-about__top {
    margin-bottom: 95px;
  }

  .product-about__triggers .tabs-triggers__item {
    margin-bottom: 28px;
  }

  .product-about__bottom .options__item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .gallery__thumbnails .gallery__image {
    padding-bottom: 100%;
  }

  .gallery__main .gallery__image {
    padding-bottom: 27%;
  }
}

@media screen and (min-width: 1500px) {
  .gallery__thumbnails .gallery__image {
    padding-bottom: 90%;
  }

  .gallery__main .gallery__image {
    padding-bottom: 22%;
  }
}

@media screen and (min-width: 1600px) {
  .gallery__main .gallery__image {
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 1700px) {
  .gallery__thumbnails .gallery__image {
    padding-bottom: 80%;
  }

  .gallery__main .gallery__image {
    padding-bottom: 18%;
  }
}

@media screen and (min-width: 1800px) {
  .gallery__thumbnails .gallery__image {
    padding-bottom: 70%;
  }

  .gallery__main .gallery__image {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 1300px) {
  .features .features__card--iphone12-1 .features__title {
    max-width: 70%;
    margin: 2em auto;
  }

  .features .features__card--iphone12-2 .features__title {
    max-width: 80%;
    padding: 2em 0;
  }

  .features .features__card--iphone12-2 .features__image {
    margin-bottom: 1.45em;
  }

  .features .features__card--iphone12-3 .features__title {
    max-width: 75%;
    margin: 2em auto;
  }
}

@media screen and (max-width: 991px) {
  .main {
    min-height: 500px;
    padding: 50px 0 30px;
  }

  .main-menu__item {
    margin-right: 1.5em;
  }

  .features__card {
    min-height: 330px;
  }

  .gallery__thumbnails .gallery__image {
    padding-bottom: 13.5%;
  }

  .gallery__main .gallery__image img {
    padding: 30px;
  }

  .gallery__main .gallery__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 19.6%;
  }

  .gallery .tabs-content__item {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .product-about {
    padding: 30px 0;
  }

  .product-about__container {
    padding: 0 35px 0 18px;
  }
}

@media screen and (max-width: 920px) {
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site__main {
    padding: 54px 0px 0px 0px;
  }

  .main-menu__item {
    margin-right: 0.4em;
  }

  .features__cards {
    overflow-x: auto;
  }

  .features__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .features .features__card--iphone12-1 .features__title {
    max-width: 80%;
  }

  .features .features__card--iphone12-2 .features__title {
    max-width: 90%;
  }

  .features .features__card--iphone12-3 .features__title {
    max-width: 585;
  }

  .header__body {
    height: 54px;
  }

  .header__list {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .main {
    min-height: calc(100vh - 54px);
  }

  .main__container {
    overflow-x: auto;
  }

  .main-menu {
    overflow-x: auto;
  }

  .main-menu__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main-menu__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .features__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    min-height: 380px;
  }

  .features__title {
    font-size: calc(18px + 8 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(36 / 26);
  }
}

@media screen and (max-width: 400px) {
  .features__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    min-height: 350px;
  }
}