.characteristics {
	padding: 49px 0 78px;
	background-color: $LGray2;

	@media screen and (min-width: $layoutDesktop + "px") {
		padding: 2.5em 0 3.9em;
	}
	@media screen and (max-width: 991px) {
		padding: 30px 0 50px;
	}
	@media screen and (max-width: 767px) {
		padding: 30px 0;
	}

	&__container {
		max-width: 1278px;

		@media screen and (min-width: $layoutDesktop + "px") {
			max-width: 93%;
		}
	}

	&__row {
		display: flex;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiv-value("margin-bottom", 47, 20, 0);
	}

	&__title {
		font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: calc(36 / 26);
		margin-right: 20px;
	}

	&__logo {
		flex: 0 1 175px;
	}

	&__body {
	}

	&__item {
	}

	&__btn {
		display: inline-block;
		font-size: calc(14px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: calc(25 / 18);
		color: $Blue;
		border-bottom: 1px dashed $Blue;
		transition: 0.3s ease all 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				color: rgba($color: $Blue, $alpha: 0.75);
				border-color: rgba($color: $Blue, $alpha: 0.75);
			}
		}
	}
}

.characteristic-table {
	@media screen and (min-width: 992px) {
		max-width: 76%;
	}
	@media screen and (max-width: 450px) {
		overflow-x: auto;
		padding-bottom: 20px;
	}

	&__item {
		display: none;
		@include adaptiv-value("margin-bottom", 56, 30, 1);

		.characteristic-table__row:first-child {
			border-top: 1px solid rgba(179, 179, 179, 0.3);
		}
		.characteristic-table__row:last-child {
			border-bottom: 0;
		}
	}

	&__item--main {
		display: block !important;
	}

	&__title {
		flex: 0 0 31.6%;
		font-weight: 700;
		font-size: calc(12px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: 120%;

		@media screen and (max-width: 450px) {
			flex: 0 0 40%;
		}
	}

	&__content {
		flex: 1 1 auto;

		@media screen and (max-width: 450px) {
			flex: 0 0 80%;
		}
	}

	&__row {
		display: flex;
		border-bottom: 1px solid rgba(179, 179, 179, 0.3);
	}

	&__atr {
		font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
		line-height: 120%;
		color: $DGray;
		padding: 17px 21px;
		@include adaptiv-value("padding-top", 17, 5, 1);
		@include adaptiv-value("padding-right", 21, 10, 1);
		@include adaptiv-value("padding-bottom", 17, 5, 1);
		@include adaptiv-value("padding-left", 21, 10, 1);
		flex: 0 0 47%;

		@media screen and (max-width: 450px) {
			flex: 0 0 50%;
		}
	}
}
