.features {
	&__cards {
		display: flex;

		@media screen and (max-width: 767px) {
			overflow-x: auto;
		}
	}

	&__card {
		flex: 0 0 33.333%;
		position: relative;
		min-height: 448px;
		overflow: hidden;

		@media screen and (min-width: 1921px) {
			min-height: 558px;
		}
		@media screen and (max-width: 991px) {
			min-height: 330px;
		}
		@media screen and (max-width: 767px) {
			flex: 0 0 40%;
		}
		@media screen and (max-width: 575px) {
			flex: 0 0 80%;
			min-height: 380px;
		}
		@media screen and (max-width: 400px) {
			flex: 0 0 95%;
			min-height: 350px;
		}
	}

	&__title {
		font-weight: 300;
		color: $Black;
		max-width: 100%;
		padding: 0 15px;
		position: relative;
		z-index: 1;

		@media screen and (max-width: 575px) {
			font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(36 / 26);
			max-width: 100% !important;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
	}

	.features__card--iphone12-1 {
		.features {
			&__title {
				max-width: 60%;
				margin: 2.4em auto;

				@media screen and (max-width: 1300px) {
					max-width: 70%;
					margin: 2em auto;
				}
				@media screen and (max-width: 767px) {
					max-width: 80%;
				}
			}
			&__image {
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 0);
				max-width: 64%;

				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 300px;
				}
			}
		}
	}

	.features__card--iphone12-2 {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		.features {
			&__title {
				font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: calc(36 / 26);
				max-width: 70%;
				padding: 2.4em 0;

				@media screen and (max-width: 1300px) {
					max-width: 80%;
					padding: 2em 0;
				}
				@media screen and (max-width: 767px) {
					max-width: 90%;
				}
				@media screen and (max-width: 575px) {
					padding: 2em 15px;
				}
			}
			&__image {
				position: inherit;
				left: auto;
				bottom: auto;
				margin: 0 auto 2.9em;
				display: flex;
				justify-content: center;

				@media screen and (max-width: 1300px) {
					margin-bottom: 1.45em;
				}
			}
		}
	}

	.features__card--iphone12-3 {
		.features {
			&__title {
				font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: calc(36 / 26);
				color: $Gray4;
				max-width: 64%;
				margin: 2.6em auto 0;

				@media screen and (max-width: 1300px) {
					max-width: 75%;
					margin: 2em auto;
				}
			}
			&__image {
				right: 0;
				bottom: 0;
				max-width: 85%;

				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 400px;
				}
			}
		}
	}

	.features__card--iphone12-4 {
		.features {
			&__title {
				font-weight: 400;
				font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: $lineHeight;
				max-width: 75%;
				margin: 1.7em auto;

				@media screen and (max-width: 767px) {
					max-width: 85%;
				}
			}
			&__image {
				left: 50%;
				bottom: 0;
				transform: translate(-18%, 0);
				max-width: 61%;

				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 280px;
				}
			}
		}
	}

	.features__card--iphone12-5 {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		.features {
			&__title {
				font-weight: 400;
				max-width: 76%;
				padding: 3.2em 0 3.1em;

				@media screen and (max-width: 991px) {
					padding: 2em 0;
				}
				@media screen and (max-width: 767px) {
					max-width: 85%;
				}
				@media screen and (max-width: 575px) {
					padding: 2em 15px;
				}
			}
			&__image {
				position: inherit;
				left: auto;
				bottom: auto;
				margin: 1em auto 0.2em;
				display: flex;
				justify-content: center;
			}
		}
	}

	.features__card--iphone12-6 {
		.features {
			&__title {
				font-weight: 400;
				font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: $lineHeight;
				margin: 2.2em auto 0;
				max-width: 75%;

				@media screen and (max-width: 991px) {
					margin-top: 1.5em;
				}
				@media screen and (max-width: 767px) {
					max-width: 85%;
				}
			}
			&__image {
				left: 13%;
				bottom: 0;
				max-width: 51%;

				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 230px;
				}
			}
		}
	}

	.features__card--iphone12-7 {
		flex: 0 0 50%;

		@media screen and (max-width: 575px) {
			flex: 0 0 80%;
		}
		@media screen and (max-width: 400px) {
			flex: 0 0 95%;
		}

		.features {
			&__title {
				font-weight: 400;
				font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: $lineHeight;
				max-width: 45%;
				margin: 4.1em 0;
				padding: 0px 15px 0px 3em;

				@media screen and (max-width: 991px) {
					padding-left: 1.5em;
				}
				@media screen and (max-width: 767px) {
					margin: 2em 0;
				}
				@media screen and (max-width: 575px) {
					max-width: 100%;
					padding: 0 15px;
				}
			}
			&__image {
				left: 50%;
				bottom: 0;
				transform: translate(-47%, 0);
				max-width: 95%;

				@media screen and (min-width: 1921px) {
					max-width: 800px;
				}
				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 650px;
				}
			}
		}
	}

	.features__card--iphone12-8 {
		flex: 0 0 50%;
		display: flex;
		align-items: flex-end;

		@media screen and (max-width: 575px) {
			align-items: flex-start;
			flex: 0 0 80%;
		}
		@media screen and (max-width: 400px) {
			flex: 0 0 95%;
		}

		.features {
			&__title {
				font-weight: 400;
				font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
				line-height: $lineHeight;
				max-width: 56%;
				padding: 0px 15px 0px 3.5em;
				margin: 3.1em 0;
				color: $DGray2;

				@media screen and (max-width: 991px) {
					padding-left: 2em;
				}
				@media screen and (max-width: 767px) {
					margin: 2em 0;
				}
				@media screen and (max-width: 575px) {
					max-width: 100%;
					padding: 0 15px;
				}
			}
			&__image {
				bottom: 0;
				right: 0;
				max-width: 39%;

				@media screen and (min-width: 1921px) {
					max-width: 326px;
				}
				@media screen and (min-width: $layoutDesktop + "px") {
					max-width: 266px;
				}
			}
		}
	}
}
