.features {
	&__cards {
		display: flex;
		overflow-x: hidden;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		flex: 1 0;
		position: relative;
		@include adaptiv-value("min-height", 448, 300, 0);
		overflow: hidden;

		@media screen and (max-width: 767px) {
			flex: 0 0 100%;
		}
	}

	&__title {
		flex: 1 1 auto;
		color: $Black;
		max-width: 100%;
		padding: 60px 80px 15px;
		@include adaptiv-value("padding-top", 60, 20, 1);
		@include adaptiv-value("padding-left", 80, 15, 1);
		@include adaptiv-value("padding-right", 80, 15, 1);
		position: relative;
		z-index: 1;

		@media screen and (max-width: 575px) {
			font-size: calc(18px + 8 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(36 / 26);
			max-width: 100% !important;
		}
	}

	&__image {
		width: 100%;
	}
}
